:root {
  --dnd5e-color-success: #1849a3;
  --dnd5e-color-success-background: #c1c5e7;
  --dnd5e-color-success-critical: #1755c9;
}

:is(.chat-popout, #chat-log) .message .dnd5e2.evaluation .target.hit .ac {
  color: #00318d;
}

.dice-tooltip .dice-rolls .roll.max {
  color: #1755c9;
  filter: sepia(.05) hue-rotate(10deg);
}