:is(.chat-popout, #chat-log) .message:not(.whisper) .message-header .subtitle {
  visibility: hidden;
}

:is(.chat-popout, #chat-log) .message:not(.whisper) .message-header .title {
  position: relative;
  top: .2rem;
}