
:is(.chat-popout, #chat-log) .message > .message-header {
  margin-bottom: -1px;
}

:is(.chat-popout, #chat-log) .message .message-header .name-stacked {
  position: relative;
  bottom: .05rem;
}

/*
:is(.chat-popout, #chat-log) .message > .message-content, :is(.chat-popout, #chat-log) .message > .message-content:not(:has(div .dnd5e2, .dice-roll)) {
  position: relative;
  padding: 2px;
  margin: -4px;
  margin-bottom: 0.1em;
  margin-right: 2px;
  margin-left: 2px;
}
*/