:is(.chat-popout, #chat-log) {

  & .message.whisper::before {
    filter: hue-rotate(270deg)
            saturate(3.5)
  }

  & .message.whisper.blind::before {
    mix-blend-mode: unset;
    filter: hue-rotate(230deg)
            saturate(3.5);
  }
}