:is(.chat-popout, #chat-log) .message>.message-content,
:is(.chat-popout, #chat-log) .message>.message-content:not(:has(div .dnd5e2, .dice-roll)) {
  position: relative;
  padding: 2px;
  margin: -5px;
  margin-top: -0.2em;
  margin-bottom: -0.05em;
  margin-right: 2px;
  margin-left: 2px;

  & .reference-link a,
  & a.content-link,
  & a.inline-roll,
  & .roll-link a {
    padding: 0px 4px;
  }

  & .effects.unlist {
    margin-bottom: .1em !important;
  }
}

:is(.chat-popout, #chat-log) .message {
  padding: .05em;
  
  & .message-header {
    margin-bottom: 0.6px;
    bottom: 1px;
    position: relative;

    & .message-metadata {
      margin-top: 4px;
      margin-right: 2px;
    }

    & .message-sender {
      display: flex;
      align-items: start;

      & .avatar {
        position: relative;
        min-height: unset;
        left: 3px;
        right: 0px;

        & img {
          width: 25px;
          height: 25px;
          scale: 100%;
        }
      }
    }

    & .title {
      font-family: var(--dnd5e-font-roboto-slab);
      font-size: var(--font-size-12);
      font-weight: bold;
      color: var(--color-text-dark-primary);
      min-height: unset;
    }

    & .subtitle {
      min-height: 1px;
      line-height: 14px;
      position: relative;
      bottom: .07rem;
    }

    & .flavor-text {
      position: relative;
      top: .65em;
      margin-bottom: .71em;
      margin-left: .32em;
      margin-block-start: -8px;
    }

    & .name-stacked {
      flex: 1;
      display: flex;
      min-height: unset;
      flex-direction: column;
      justify-content: center;
      margin-bottom: unset;
      margin-left: -.3em;
      margin-top: .0em;
      line-height: 18px;
      position: relative;
      bottom: .0rem;
      left: -0.1rem;
    }
  }

  & .dnd5e2.evaluation {
    margin: 0.170rem 0 0;
    gap: 0;

    & .target .name-stacked .title {
      font-size: var(--font-size-13);
      display: flex;
      align-items: center;
      gap: 0.170rem;
    }

    & .target>img {
      width: 28px;
      height: 28px;
    }
  }

  & .dice .total .label {
    white-space: nowrap;
  }
}

.dnd5e2.chat-card {
  gap: 0.100rem;

  & .card-buttons {
    gap: 0.15rem;
  }

  & .description {
    padding: 0.15rem;
    margin-bottom: 0.05rem;
  }

  & +.dice-roll {
    margin-top: 0.170rem;
  }

  & .order-description {
    padding: 1px;
    margin: unset;
  }
}

.message .dnd5e2 {

  & button[data-action="save"] {
    font-size: .73rem;
  }

  & button > i {
      margin-right: unset;
  }

  & div:not(:has(.damage-application)) button {
    line-height: 20px;

    &:has(.visible-dc, .hidden-dc) {
      font-size: var(--font-size-12)
    }  
  }

  & .pills {
    gap: 0.15rem;
  }

  & .separated-list.single-item > li {
    padding: 2px;
  }
}

.message .dice-result {

  & .dice-formula {
    line-height: 20px;
  }

  & .dice-total {
    font-weight: bold;
    font-size: var(--font-size-20);
    padding: 0.075rem;
    margin-top: 0.170rem;
    font-family: var(--font-primary);
    position: relative;
  }
}