:is(.chat-popout, #chat-log) .message>.message-content,
:is(.chat-popout, #chat-log) .message>.message-content:not(:has(div .dnd5e2, .dice-roll)) {
  position: relative;
  padding: 2px;
  margin: -4px;
  margin-bottom: 0.1em;
  margin-right: 2px;
  margin-left: 2px;
}

:is(.chat-popout, #chat-log) .message {
  padding: .16em;

  .message-header {
    margin-bottom: 3.6px;
    bottom: 1px;
    position: relative;

    .message-metadata {
      margin-top: 4px;
      margin-right: 2px;
    }

    .message-sender {
      display: flex;
      align-items: start;

      .avatar {
        place-content: center;
        position: relative;
        min-height: unset;
        left: 3px;
        right: 0px;

        img {
          width: 25px;
          height: 25px;
          scale: 100%;
        }
      }
    }

    .title {
      font-family: var(--dnd5e-font-roboto-slab);
      font-size: var(--font-size-12);
      font-weight: bold;
      color: var(--color-text-dark-primary);
      min-height: unset;
    }

    .subtitle {
      min-height: 1px;
      line-height: 14px;
      position: relative;
      bottom: .07rem;
    }

    .flavor-text {
      position: relative;
      top: .65em;
      margin-bottom: .5em;
      margin-left: .32em;
      margin-block-start: -8px;
    }

    .name-stacked {
      flex: 1;
      display: flex;
      min-height: unset;
      flex-direction: column;
      justify-content: center;
      margin-bottom: unset;
      margin-left: -.3em;
      margin-top: .0em;
      line-height: 18px;
      position: relative;
      bottom: .0rem;
      left: -0.1rem;
    }
  }

  .dnd5e2.evaluation {
    margin: 0.170rem 0 0;
    gap: 0;

    .target .name-stacked .title {
      font-size: var(--font-size-13);
      display: flex;
      align-items: center;
      gap: 0.170rem;
    }

    .target>img {
      width: 28px;
      height: 28px;
    }
  }
}

.dnd5e2.chat-card {
  gap: 0.170rem;

  .card-buttons {
    gap: 0.15rem;
  }

  .description {
    padding: 0.15rem;
  }

  +.dice-roll {
    margin-top: 0.170rem;
  }
}


.dnd5e2 {

  button[data-action="save"] {
    font-size: var(--font-size-11);
  }

  div:not(:has(.damage-application)) button {
    line-height: 20px;
  }
}

.dice-result {

  .dice-formula {
    line-height: 20px;
  }

  .dice-total {
    font-weight: bold;
    font-size: var(--font-size-20);
    padding: 0.075rem;
    margin-top: 0.170rem;
    font-family: var(--font-primary);
    position: relative;
  }
}